<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739064059540-555mmvntpvjua104v5pv6bf12reve2al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739064059540-555mmvntpvjua104v5pv6bf12reve2al</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>739064059540-243te58lmopv114f0sgn81im2s1gngn1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzUX-SL6oNR8gjNMEWadqiACCDp8K_gvg</string>
	<key>GCM_SENDER_ID</key>
	<string>739064059540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catalogue</string>
	<key>PROJECT_ID</key>
	<string>cat-alogue</string>
	<key>STORAGE_BUCKET</key>
	<string>cat-alogue.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739064059540:ios:8801b1019cd36f8f1fc681</string>
</dict>
</plist>